html {
  scroll-behavior: smooth;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1d1a2f;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8bd450; /* Agregamos el borde blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top i {
  font-size: 20px;
}

.scroll-to-top.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s;
}

.image-text {
  position: absolute;
  top: 50%; /* Ajusta según necesites */
  left: 50%; /* Ajusta según necesites */
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  text-align: center;
}

/* ID SELECTORS */

#Projects {
  background-color: #27233e;
}
#footer {
  color: white !important;
}
#footer a {
  color: white !important;
}
#footer a:hover {
  color: #b5afafab !important;
}
#home-image {
  opacity: 0.3;
}

/* END SELECTORS */

/* CLASS SELECTORS */
body {
  background-color: #1d1a2f;
}
main {
  background-color: #1d1a2f;
  /* color: #1d1a2f; */
}
section:not(#home-section) {
  padding: 20px 0px 0px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8bd450;
  padding: 0px 0px 25px 0px;
}
main p {
  color: white;
}
.first-background {
  background-color: #1d1a2f;
}
.second-background {
  background-color: #27233e;
}
.contact-container {
  color: white;
  text-align: start;
  border: 1px white solid;
  border-radius: 10px;
  padding: 35px;
  margin: 40px 0px;
}
.contact-container a {
  color: white;
  text-decoration: none;
}
.contact-container a:hover {
  color: white;
  text-decoration: underline;
}

.contact-container .form-label {
  color: white;
  font-weight: bold;
}

.contact-container h4 {
  color: white;
}

.contact-container input,
.contact-container textarea {
  margin: 10px 0px 20px 0px;
}
.navbar {
  background-color: #1d1a2f !important;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 1000; /* Un valor alto para asegurarse de que esté encima de todo */
  position: fixed;
  width: 100%; /* Opcional: para asegurarse de que el ancho sea del 100% */
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 212, 80, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(139, 212, 80);
}

.nav-link {
  color: white;
  margin-right: 20px;
}
.tag {
  color: black;
  background-color: white;
  border: 1px solid white;
  margin: 10px 8px 0px 0px;
  padding: 0px 15px;
  font-size: 12px;
  position: relative;
  height: 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
}
.tag:hover {
  color: white;
  background-color: #f8b92c;
  border: 1px solid black;
}
/* .tag {
  color: black;
  background-color: #f8b92c;
  border: 1px solid white;
  margin: 10px 0px 0px 8px;
  padding: 0px 15px;
  font-size: 12px;
  position: relative;
  height: 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
}
*/
.social {
  color: #b5afafab;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #8bd450;
}
.active {
  color: #8bd450 !important;
  border-bottom: 3px solid #8bd450;
  transition: color 0.4s;
}

.social:hover {
  color: white;
}
.btn-custom-1 {
  background-color: white;
  border: 2px black solid;
  color: black;
  transition: border 0.6s;
}
.btn-custom-1:hover {
  background-color: transparent !important;
  /* border: 2px #8bd450 solid; */
  border: 2px #8bd450 solid;
  color: #8bd450 !important;
}
.btn-custom-1:active {
  background-color: transparent !important;
  /* border: 2px #8bd450 solid; */
  border: 2px black solid;
  color: #8bd450 !important;
}
.btn-transaparent {
  background-color: transparent !important;
  border: none !important;
}

/* MEDIA QUERY */

/* Estilos para dispositivos pequeños como teléfonos */
@media (max-width: 576px) {
  #home-image {
    opacity: 0.3;
    height: 700px;
  }
  .home-image-container {
    height: 700px;
  }
  .image-text p {
    font-size: 20px;
  }
  .image-text h1 {
    margin: 25px 0px;
    font-size: 40px;
  }
  #footer,
  #footer a {
    font-size: 15px;
  }
  .btn-icon span {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .btn-icon {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.3s;
    width: 50px; /* Adjust the width as needed */
  }
  .image-text {
    width: 90%;
    padding: 10px;
  }
  .tag {
    color: black;
    background-color: white;
    border: 1px solid white;
    margin: 3px 8px 15px 0px;
    padding: 0px 15px;
    font-size: 10px;
    position: relative;
    height: 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
  }
}

/* Estilos para dispositivos medianos como tabletas en orientación vertical */
@media (min-width: 577px) and (max-width: 768px) {
  #home-image {
    opacity: 0.3;
    height: 525px;
    width: 100%;
  }
  .home-image-container {
    height: 525px;
    width: 100%;
  }
}

/* Estilos para dispositivos medianos a grandes como tabletas en orientación horizontal */
@media (min-width: 769px) and (max-width: 992px) {
  #home-image {
    opacity: 0.3;
    height: 700px;
    width: auto;
  }
  .home-image-container {
    height: 700px;
    width: 100%;
  }
  .btn-custom-1 {
    background-color: white;
    border: 2px black solid;
    color: black;
    transition: border 0.6s;
    width: 100px;
    height: 20px;
  }
}

/* Estilos para dispositivos grandes como computadoras de escritorio */
@media (min-width: 993px) {
  #home-image {
    opacity: 0.3;
    height: 960px;
    width: 100%;
  }
  .home-image-container {
    height: 960px;
    width: 100%;
  }
  .btn-icon {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.3s;
    width: 50px; /* Adjust the width as needed */
  }

  .btn-icon i {
    margin-right: 10px; /* Adjust the spacing between icon and text */
  }

  .btn-icon span {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .btn-icon:hover {
    width: 115px; /* Adjust the expanded width as needed */
  }

  .btn-icon:hover span {
    opacity: 1;
  }
  .image-text h1 {
    margin: 25px 0px;
  }
}
